@use "globals" as *
@use "widget-card"

h1
    font-size: 60px
    font-weight: 700    
    text-align: center
    margin: 40px 0 20px 
    & + p
        text-align: center
        font-size: 18px
        margin: 0 0 40px
        color: $clr-gray
        strong
            color: $clr-indigo
