@use "globals" as *
@use "sass:color"

h1
	font-size: 48px
	text-align: center
	margin: 40px 0 20px 
   
h2
	font-size: 36px
	text-align: center
	margin: 40px 0 20px 

h1, h2
	& + p
		text-align: center
		font-size: 18px
		margin: 0 0 40px
		color: $clr-gray
		strong
			color: $clr-indigo        

ul
	width: 500px
	margin: 0 auto
	padding: 0
	border: 1px solid darken($clr-light,10%)
	border-radius: 6px
	overflow: hidden
	li
		font-size: 16px
	   
		&:not(:last-child)
			border-bottom: 1px solid $clr-light
		&:hover 
			color: $clr-indigo
			background-color: lighten($clr-light, 2%)
		a
			display: flex
			padding: 10px 15px
			color: currentColor
			&:hover
				color: $clr-indigo

.backtoHome
	position: absolute
	top: 0
	left: 30px
	display: flex
	align-items: center
	flex-direction: column

	[data-testid="ArrowCircleLeftIcon"] 
		font-size: 48px
		color: $clr-indigo
		animation: .2s zoomIn
		transition: .2s ease-in
		
		&~span
			margin-top: 8px
			opacity: 0
	&:hover 
		[data-testid="ArrowCircleLeftIcon"] 
			font-size: 40px
			&~span
				opacity: 1

[id="show"]
	display: flex
	align-items: center
	flex-direction: column

[id="hide"]
	display: none	

.tag-wrap 
	width: 500px
	margin: 0 auto
	border: 1px solid darken($clr-light,10%)
	border-radius: 6px
	padding: 10px
	
.tag
	border: none
	background-color: $clr-gray
	padding: 10px 15px
	border-radius: 4px
	color: #fff
	margin: 5px
	display: flex
	&:hover	
		background-color: adjust-hue($clr-indigo, 57%)

.count-widget
	margin: 50px auto
	display: flex
	align-items: center
	justify-content: center
	.tag svg
		margin-right: 5px
	span
		font-weight: bold
		padding: 10px
		height: 100%
		border-radius: 4px
		background-color: lighten($clr-indigo, 40%)
	


