/*default form variables*/
/*theme base variables*/
/*default colors*/
/*theme base colors*/
/* media query mixins */
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  outline: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

body, html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif, system-ui;
  margin: 0;
  position: relative;
}

.wrapper {
  position: relative;
  padding: 20px;
}

/* For main media query container set width */
.mq-container {
  clear: fix;
  margin: 0 auto;
  position: relative;
  width: 1400px;
}
@media (max-width: 767px) {
  .mq-container {
    width: 94%;
  }
}
@media (min-width: 768px) {
  .mq-container {
    width: 710px;
  }
}
@media (min-width: 960px) {
  .mq-container {
    width: 940px;
  }
}
@media (min-width: 1280px) {
  .mq-container {
    width: 1170px;
  }
}
@media (min-width: 1600px) {
  .mq-container {
    width: 1400px;
  }
}

.card-layout-style1 {
  max-width: 400px;
}
.card-layout-style1:not(:last-child) {
  margin-right: 40px;
}
.card-layout-style1 img {
  width: 100%;
  margin-bottom: 20px;
  transition: 0.2s ease-in;
}
.card-layout-style1 h3 {
  font-size: 20px;
  margin: 0 0 10px;
}
.card-layout-style1 p {
  margin: 0;
}
.card-layout-style1:hover img {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
}

.cardPreview {
  padding-bottom: 40px;
}
.cardPreview .mq-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin: 40px 0 20px;
}

h2 {
  font-size: 36px;
  text-align: center;
  margin: 40px 0 20px;
}

h1 + p, h2 + p {
  text-align: center;
  font-size: 18px;
  margin: 0 0 40px;
  color: #5c5c5c;
}
h1 + p strong, h2 + p strong {
  color: #5b00e4;
}

ul {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
}
ul li {
  font-size: 16px;
}
ul li:not(:last-child) {
  border-bottom: 1px solid #f7f7f7;
}
ul li:hover {
  color: #5b00e4;
  background-color: #fcfcfc;
}
ul li a {
  display: flex;
  padding: 10px 15px;
  color: currentColor;
}
ul li a:hover {
  color: #5b00e4;
}

.backtoHome {
  position: absolute;
  top: 0;
  left: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.backtoHome [data-testid=ArrowCircleLeftIcon] {
  font-size: 48px;
  color: #5b00e4;
  animation: 0.2s zoomIn;
  transition: 0.2s ease-in;
}
.backtoHome [data-testid=ArrowCircleLeftIcon] ~ span {
  margin-top: 8px;
  opacity: 0;
}
.backtoHome:hover [data-testid=ArrowCircleLeftIcon] {
  font-size: 40px;
}
.backtoHome:hover [data-testid=ArrowCircleLeftIcon] ~ span {
  opacity: 1;
}

[id=show] {
  display: flex;
  align-items: center;
  flex-direction: column;
}

[id=hide] {
  display: none;
}

.tag-wrap {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 10px;
}

.tag {
  border: none;
  background-color: #5c5c5c;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  margin: 5px;
  display: flex;
}
.tag:hover {
  background-color: #e40094;
}

.count-widget {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count-widget .tag svg {
  margin-right: 5px;
}
.count-widget span {
  font-weight: bold;
  padding: 10px;
  height: 100%;
  border-radius: 4px;
  background-color: #d0b1ff;
}

[id=root] {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mh-intro {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mh-intro img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.mh-intro small {
  font-size: 12px;
  color: #5c5c5c;
  display: flex;
  font-style: italic;
  margin-top: 5px;
  font-weight: normal;
}
.mh-intro small a {
  margin-left: 6px;
  color: currentColor;
}