@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700&family=Poppins:wght@300;400;600;700&display=swap");
/*default form variables*/
/*theme base variables*/
/*default colors*/
/*theme base colors*/
/* media query mixins */
.mh--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body, html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
}

.wrapper {
  position: relative;
  padding: 20px;
}

/* For main media query container set width */
.mq-container {
  margin: 0 auto;
  position: relative;
  width: 1400px;
}
@media (max-width: 767px) {
  .mq-container {
    width: 94%;
  }
}
@media (min-width: 768px) {
  .mq-container {
    width: 710px;
  }
}
@media (min-width: 960px) {
  .mq-container {
    width: 940px;
  }
}
@media (min-width: 1280px) {
  .mq-container {
    width: 1170px;
  }
}
@media (min-width: 1636px) {
  .mq-container {
    width: 1400px;
  }
}

.mh--button {
  font-size: 16px;
  color: #fff;
  background-color: #f54949;
  padding: 5px 20px;
  height: 40px;
  border-radius: 25px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  transition: 0.2s ease-in;
  font-family: "Poppins", sans-serif;
}
.mh--button:hover {
  background-color: #f21919;
}
.mh--button svg {
  font-size: inherit;
}
.mh--button.dark-btn {
  background-color: #010101;
}
.mh--button.dark-btn:hover {
  background-color: #343434;
}

header {
  background-color: #5A28EA;
  color: #fff;
  padding: 15px 0;
  font-family: "Inter", sans-serif;
}
header .logo {
  width: 100%;
  max-width: 220px;
}
header .navi {
  display: flex;
  font-size: 18px;
  gap: 36px;
}
header .navi a {
  display: inline-flex;
}

.tuts-heading {
  font-size: 5vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.4784313725);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: calc(100vh - 100px);
}

.mh-blog .tuts-heading {
  height: 200px;
  color: #baa5f6;
}

.blog-main {
  gap: 5vw;
}
.blog-main.mq-container {
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  width: 1170px;
}
@media (max-width: 767px) {
  .blog-main.mq-container {
    width: 94%;
  }
}
@media (min-width: 768px) {
  .blog-main.mq-container {
    width: 480px;
  }
}
@media (min-width: 960px) {
  .blog-main.mq-container {
    width: 710px;
  }
}
@media (min-width: 1280px) {
  .blog-main.mq-container {
    width: 940px;
  }
}
@media (min-width: 1636px) {
  .blog-main.mq-container {
    width: 1170px;
  }
}
.blog-main .blog-preview {
  max-width: 44%;
}
.blog-main .blog-preview img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s cubic-bezier(0.67, 0, 0.285, 1);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.blog-main .blog-preview:hover img {
  -webkit-clip-path: polygon(5% 10%, 95% 0, 95% 90%, 5% 95%);
          clip-path: polygon(5% 10%, 95% 0, 95% 90%, 5% 95%);
}

.blog-info .blog-title {
  margin: 2vw 0 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
@media (min-width: 960px) {
  .blog-info .blog-title {
    font-size: 1.6vw;
    line-height: 2vw;
  }
}
.blog-info .blog-content {
  font-size: 18px;
  line-height: 26px;
  margin: 2vw 0 0;
}
.blog-info .blog-author {
  color: #6c6c6c;
}
.blog-info .blog-date {
  color: #5A28EA;
}

.blog-msg {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[id=root] {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mh-intro {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mh-intro img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.mh-intro small {
  font-size: 12px;
  color: #6c6c6c;
  display: flex;
  font-style: italic;
  margin-top: 5px;
  font-weight: normal;
}
.mh-intro small a {
  margin-left: 6px;
  color: currentColor;
}